*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}
html {
  scroll-behavior: smooth;
}
body{
	font-style: "Rubik", serif;
	color: #ffffff;
}
/*Navbar*/
nav{
	z-index: 100;	
}
#navbarNav{
	font-size: 1.4em;
}
.nav-item{
	margin-right: 30px;
}
#nav-links:hover{
	transition: all .3s ease-out 0s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    color: #dc3545;
}
/*Button*/
#hire_me
{
	padding: 15px 40px 15px 40px;
}
/* End of Header*/
/*Cover*/
#cover{
	background-image:url('images/cover_bg.png');
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 90px;
	padding-right: 25px;
	z-index: 1;
	height: 100vh;
}
/*About H1*/
.content h1{
	font-family: 'Prompt', sans-serif;
	float: right;
	clear: both;
	z-index: 2;
	margin: 0px;
	color:#ffffff;
}
/*Content*/
.content {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*GET EVERY SINGLE SOLUTION*/
.solution{
	color: #dc3545;
	margin-top: 50px;
	margin-bottom: 8px;
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
}
/*Code icon*/
.solution i{
	vertical-align: middle;
}
/*Name*/
div.name{
	margin-bottom: 8px;
}
/*Quote icon*/
span.description i{
	vertical-align: text-top;
}
/*Description Content*/
span.description{
	color: #d2d4d4;
	font-style: italic;
	font-size:1.3em;
	font-style: 'Rubik', sans-serif; 
}
#cover h1{
	font-size: 2.5em;
}
/*End of Cover*/
/*User Experience*/
div.descrip2{
	background-color: #121212; 
}
.descrip2 div.row{
	padding-top: 20vh;
	padding-bottom: 15vh;
	text-align: center;
    display: flex;
    margin: 0px;
}
.content2 h1{
	font-family: 'Prompt', sans-serif;
	font-weight: 700;
	margin-bottom: 2vh;
}
.content2 a{
	text-decoration: none;
	color: #dc3545;
	font-size: 1.3em;
}
.content2 a:hover{
	transition: all .3s ease-out 0s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    color: #d45244;
}
.content2 span:nth-of-type(2){
	font-family: 'Prompt', sans-serif;
}
#creativity{
	text-align: center;
	font-size: 1.2em;
	padding-top: 2vh;
}
div.year{
	display: flex;
	align-items: center;
}
.year span:nth-of-type(1){
	font-size: 7em;
	font-weight: 700;
}
.year p{
	font-size:2em;
	padding-top:5.5vh;
	padding-left: 2vh;
}
hr{
	width: 80%;
}
/*Services*/
div.services{
	background-color: #0b0b0b;
}
.services h1{
	padding-top: 15vh;
	padding-bottom: 15vh;
	font-family: 'Prompt', sans-serif;
	font-size: 3em;
	font-weight: 600;
}
.services p{
	font-family: 'Arbutus Slab', serif;
	font-size: 1.2em;
}
.services div.col-md-4{
	margin-bottom: 10vh;
}
.services h2{
	margin-bottom: 3vh;
}
/*About*/
div.about{
	background-color: #121212;
}
.about h1{
	padding-top: 10vh;
	padding-bottom: 5vh;
	font-family: 'Prompt', sans-serif;
	font-size: 3em;
	font-weight: 600;
}
.about p{
	font-family: 'Arbutus Slab', serif;
	font-size: 1.2em;
}
.about div.col-md-4{
	margin-bottom: 10vh;
}
.about h2{
	margin-top: 6vh;
	margin-bottom: 3vh;
}
.potrait img{
	height:50vh;
	padding-right: 5vh;
}
/*Contact*/
div.contact{
	background-color: #121212;
	padding-bottom: 6vh;
}
.contact {
	font-family: 'Arbutus Slab', serif;
	font-size: 1.2em;
}
.contact h1{
	padding-top: 10vh;
	padding-bottom: 5vh;
	font-family: 'Prompt', sans-serif;
	font-size: 3em;
	font-weight: 600;
}
.form-control{
	background-color: #121212;
	color: #ffffff;
}
.contact_info a{
	text-decoration: none;
	color: #ffffff;
}
/*Portfolio*/
p.card-text{
	color: black;
	font-family: 'Prompt', serif;
}
.album h1{
	padding-top: 10vh;
	padding-bottom: 5vh;
	font-family: 'Prompt', sans-serif;
	font-size: 3.5em;
	font-weight: 600;
	margin-bottom: 3vh;
}
/*Footer*/
footer{
	background-color: #0b0b0b;
}
span.social_media{
	color: #6c757d ;
}
.social_media a{
	text-decoration: none;
	color: #6c757d ;
}
@media (min-width: 0px) and (max-width: 576px) and (orientation: landscape){
	.solution{
		font-size: 0.5em;
		margin-top: 1vh;
		margin-bottom: 5px;
	}
	#cover h1{
		font-size: 0.8em;
	}
	div.name{
		margin-bottom: 2px;
	}
	span.description i{
		font-size: 4px;
	}
	span.description{
		font-size: 0.55em;
	}
	div.content{
		padding-left:50vh;
	}
	.descrip2 div.row{
		padding-top: 10vh; 		
	}
	.content2 h1{
		font-size: 2.5em;
		display: flex;
		align-items: center;
	}
	.content2 a{
		align-items: center;
	}
	.content2 span:nth-of-type(1){
		font-size: 1.2em; 
	}
	div.year{
		display: flex;
		align-items: center;
		padding-left: 40vh;
	}
	.year span:nth-of-type(1){
		font-size: 5em;
		font-weight: 700;
	}
	.year p{
		font-size:1.2em;
		padding-top:10vh;
		padding-left: 2vh;
	}

}

@media (min-width: 0px) and (max-width: 320px) and (orientation: portrait){
	.solution{
		font-size: 0.5em;
		margin-top: 5vh;
		margin-bottom: 5px;
	}
	#cover h1{
		font-size: 0.8em;
	}
	div.name{
		margin-bottom: 2px;
	}
	span.description i{
		font-size: 4px;
	}
	span.description{
		font-size: 0.55em;
	}
	div.content{
		padding-left:10vh;
	}
	.descrip2 div.row{
		padding-top: 12vh; 		
	}
	.content2 h1{
		font-size: 2.5em;
		display: flex;
		align-items: center;
	}
	.content2 a{
		align-items: center;
	}
	.content2 span:nth-of-type(1){
		font-size: 1.2em; 
	}
	div.year{
		display: flex;
		align-items: center;
	}
	.year span:nth-of-type(1){
		font-size: 5em;
		font-weight: 700;
	}
	.year p{
		font-size:1.2em;
		padding-top:3vh;
		padding-left: 2vh;
	}
}

@media (min-width: 321px) and (max-width: 370px) and (orientation: portrait){
	.solution{
		font-size: 0.7em;
		margin-top: 7vh;
		margin-bottom: 5px;
	}
	#cover h1{
		font-size: 0.8em;
	}
	div.name{
		margin-bottom: 2px;
	}
	span.description i{
		font-size: 4px;
	}
	span.description{
		font-size: 0.7em;
	}
	div.content{
		padding-left:10vh;
	}
	.descrip2 div.row{
		padding-top: 12vh; 		
	}
	.content2 h1{
		font-size: 2.5em;
		display: flex;
		align-items: center;
	}
	.content2 a{
		align-items: center;
	}
	.content2 span:nth-of-type(1){
		font-size: 1.2em; 
	}
	div.year{
		display: flex;
		align-items: center;
	}
	.year span:nth-of-type(1){
		font-size: 5em;
		font-weight: 700;
	}
	.year p{
		font-size:1.2em;
		padding-top:3vh;
		padding-left: 2vh;
	}
}
@media (min-width: 371px) and (max-width: 576px) and (orientation: portrait){
	.solution{
		font-size: 0.7em;
		margin-top: 7vh;
		margin-bottom: 7px;
	}
	#cover h1{
		font-size: 1em;
	}
	div.name{
		margin-bottom: 7px;
	}
	span.description i{
		font-size: 4px;
	}
	span.description{
		font-size: 0.7em;
	}
	div.content{
		padding-left: 13vh;
	}
	.descrip2 div.row{
		padding-top: 5vh; 		
	}
	.content2 h1{
		font-size: 2.5em;
		display: flex;
		align-items: center;
	}
	.content2 a{
		align-items: center;
	}
	.content2 span:nth-of-type(1){
		font-size: 1.2em; 
	}
	div.year{
		display: flex;
		align-items: center;
		padding-left: 5vh;
	}
	.year span:nth-of-type(1){
		font-size: 5em;
		font-weight: 700;
	}
	.year p{
		font-size:1.2em;
		padding-top:3vh;
		padding-left: 1vh;
	}
}

@media (min-width: 577px) and (max-width: 767px) and (orientation: portrait){
	.solution{
		font-size: 1.3em;
		margin-top: 5vh;
		margin-bottom: 7px;
	}
	#cover h1{
		font-size: 1.5em;
	}
	div.name{
		margin-bottom: 7px;
	}
	span.description i{
		font-size: 8px;
	}
	span.description{
		font-size: 1.3em;
	}
	.descrip2 div.row{
		padding-top: 10vh;
		padding-left: 5vh;
		padding-right: 0px;
	}
	.content2 h1{
		font-size: 2.5em;
		display: flex;
		align-items: center;
		text-align: center;
	}
	.content2 a{
		align-items: center;
	}
	.content2 span:nth-of-type(1){
		font-size: 1.5em; 
	}
	div.year{
		display: flex;
		align-items: center;
		padding-left: 12vh;
	}	
	.year span:nth-of-type(1){
		font-size: 5em;
		font-weight: 700;
	}
	.year p{
		font-size:1.2em;
		padding-top:3vh;
		padding-left: 2vh;
	}

}

@media (min-width: 577px) and (max-width: 767px) and (orientation: landscape){
	.solution{
		font-size: 0.8em;
		margin-top: 3px;
		margin-bottom: 3px;
	}
	#cover h1{
		font-size: 1.15em;
	}
	div.name{
		margin-bottom: 3px;
	}
	span.description i{
		font-size: 8px;
	}
	span.description{
		font-size: 0.7em;
	}
	.descrip2 div.row{
		padding-top: 10vh; 		
	}
	.content2 h1{
		font-size: 2.5em;
		display: flex;
		align-items: center;
		padding-left: 6vh;
	}
	.content2 a{
		align-items: center;
	}
	.content2 span:nth-of-type(1){
		font-size: 1.2em; 
	}
	div.year{
		display: flex;
		align-items: center;
		padding-left: 40vh;
	}
	.year span:nth-of-type(1){
		font-size: 5em;
		font-weight: 700;
	}
	.year p{
		font-size:1.2em;
		padding-top:10vh;
		padding-left: 2vh;
	}
	hr{
		width: 50%;
	}
}

@media (min-width: 768px) and (max-width: 991px) and (orientation: portrait){
	
	.solution{
		font-size: 1.2em;
		margin-top: 15vh;
		margin-bottom: 10px;
	}
	#cover h1{
		font-size: 1.9em;
	}
	span.description i{
		font-size: 10px;
	}
	span.description{
		font-size: 1.09em;
	}
	div.content{
		padding-left: 12vh;
	}
	.descrip2 div.row{
		padding-top: 10vh;
		padding-left: 5vh;
		padding-right: 0px;
	}
	.content2 h1{
		font-size: 2.5em;
		display: flex;
		align-items: center;
		text-align: center;
	}
	.content2 a{
		align-items: center;
	}
	.content2 span:nth-of-type(1){
		font-size: 1.5em; 
	}
	div.year{
		display: flex;
		align-items: center;
		padding-left: 20vh;
	}
	.year span:nth-of-type(1){
		font-size: 5em;
		font-weight: 700;
	}
	.year p{
		font-size:1.2em;
		padding-top:3vh;
		padding-left: 2vh;
	}
}

@media (min-width: 768px) and (max-width: 991px) and (orientation: landscape){
	
	.solution{
		font-size: 1em;
		margin-top: 0;
		margin-bottom: 10px;
	}
	#cover h1{
		font-size: 1.5em;
	}
	span.description i{
		font-size: 7px;
	}
	span.description{
		font-size: 0.7em;
	}
	div.name{
		margin-bottom: 10px;
	}
	div.content{
		padding-left: 30vh;
	}
	.descrip2 div.row{
		padding-top: 10vh; 		
	}
	.content2 h1{
		font-size: 2.5em;
		display: flex;
		align-items: center;
		padding-left: 20vh;	
	}
	.content2 a{
		align-items: center;
		padding-left: 10vh;
	}
	.content2 span:nth-of-type(1){
		font-size: 1.2em; 
	}
	div.year{
		display: flex;
		align-items: center;
		padding-left: 65vh;
	}
	.year span:nth-of-type(1){
		font-size: 5em;
		font-weight: 700;
	}
	.year p{
		font-size:1.2em;
		padding-top:10vh;
		padding-left: 2vh;
	}
	hr{
		width: 40%;
	}
}

@media (min-width: 992px) and (max-width: 1199px) and (orientation: portrait){
	.solution{
		font-size: 1.2em;
		margin-top: 20vh;
		margin-bottom: 10px;
	}
	#cover h1{
		font-size: 2.3em;
	}
	span.description i{
		font-size: 10px;
	}
	span.description{
		font-size:1.6em;
	}
	div.content{
		padding-left: 13vh;
	}
	.descrip2 div.row{
		padding-top: 10vh;
		padding-left: 5vh;
		padding-right: 0px;
	}
	.content2 h1{
		font-size: 2.5em;
		display: flex;
		align-items: center;
		text-align: center;
	}
	.content2 a{
		align-items: center;
	}
	.content2 span:nth-of-type(1){
		font-size: 1.5em; 
	}
	div.year{
		display: flex;
		align-items: center;
		padding-left: 4vh;
	}
	.year span:nth-of-type(1){
		font-size: 5em;
		font-weight: 700;
	}
	.year p{
		font-size:1.2em;
		padding-top:3vh;
		padding-left: 2vh;
	}
}

@media (min-width: 992px) and (max-width: 1199px) and (orientation: landscape){
	.solution{
		font-size: 1.2em;
		margin-top: 5vh;
		margin-bottom: 10px;
	}
	#cover h1{
		font-size: 2em;
	}
	span.description i{
		font-size: 10px;
	}
	span.description{
		font-size:1.3em;
	}
	div.content{
		padding-left: 30vh;

	}
	.descrip2 div.row{
		padding-top: 10vh; 		
	}
	.content2 h1{
		font-size: 2.5em;
		display: flex;
		align-items: center;
		padding-left: 6vh;
	}
	.content2 a{
		align-items: center;
	}
	.content2 span:nth-of-type(1){
		font-size: 1.2em; 
	}
	div.year{
		display: flex;
		align-items: center;
		padding-left: 10vh;
	}
	.year span:nth-of-type(1){
		font-size: 5em;
		font-weight: 700;
	}
	.year p{
		font-size:1.2em;
		padding-top:5vh;
		padding-left: 2vh;
	}
	hr{
		width: 40%;
	}
}

@media (min-width: 1200px) and (orientation: landscape){
	.solution{
		font-size: 1.5em;
		padding-top: 2vh;
	}
	#cover h1{
		font-size: 2.5em;
	}
	span.description i{
		font-size: 10px;
	}
	span.description{
		font-size:1.5em;
	}
	.content2 h1{
		font-size: 3.5em;
	}
	.content2 span:nth-of-type(1){
		padding-left: 4vh;
		padding-top: 1.5vh;
		font-size: 1.5em;
	}
	div.year{
		display: flex;
		align-items: center;
		padding-left: 15vh;
	}
	.year span:nth-of-type(1){
		font-size: 7em;
		font-weight: 700;
	}
	.year p{
		font-size:2em;
		padding-top:5.5vh;
		padding-left: 2vh;
	}
	hr{
		width: 40%;
	}
}